<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.co.brightec.kbarcode.app">

    <!-- This sample app would require users to have a camera
    https://developer.android.com/guide/topics/manifest/uses-feature-element -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!--  For CameraX example only  -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".XmlActivity" />
        <activity android:name=".XmlJavaActivity" />
        <activity android:name=".ProgrammaticActivity" />
        <activity android:name=".viewfinder.ViewfinderActivity" />
        <activity android:name=".camerax.CameraXActivity" />
        <!--suppress AndroidDomInspection - For espresso tests-->
        <activity android:name=".testutil.SingleFragmentActivity" />
    </application>

</manifest>
